<div>
	<div class="content">
		<div class="row">
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<img src="" class="poster-img loading-img" onerror="this.src='images/missing.png'">
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<img src="images/poster2.jpg" class="poster-img loading-img" onerror="this.src='images/missing.png'">
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<img src="images/poster3.jpg" class="poster-img loading-img" onerror="this.src='images/missing.png'">
			</div>

			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<img src="images/poster4.jpg" class="poster-img loading-img" onerror="this.src='images/missing.png'">
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<img src="images/poster5.jpg" class="poster-img loading-img" onerror="this.src='images/missing.png'">
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<img src="images/poster6.jpg" class="poster-img loading-img" onerror="this.src='images/missing.png'">
			</div>
		</div>
	</div>
</div>