/*
* @Author: Anshad Vattapoyil
* @Date:   2017-08-26 12:52:04
* @Last Modified by:   Anshad Vattapoyil
* @Last Modified time: 2017-08-27 15:45:00
*/
.categeory-container {
	@media (max-width: 575px) {
		height: 260px;
	}
	@include media-breakpoint-down(sm) {
		height: 232px;
	}
	@include media-breakpoint-up(xl) {
		height: 305px;
	}
	background-color: $dark;
	display: table;
	height: 200px;
	margin-bottom: 30px;
	width: 100%;
	&:hover {
		border: 3px solid $green;
		cursor: pointer;
	}
	& > div {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		h4 {
			color: $white;
			font-size: 13px;
		}
	}
}
