<div>
	<div class="content">
		<div class="row">
			<div class="col-md-4 col-xl-3">
				<img src="images/poster1.jpg" class="poster-img" alt="Responsive image" ng-click="$state.go('main.list')">
			</div>
			<div class="col-md-4 col-xl-3">
				<img src="images/poster2.jpg" class="poster-img" alt="Responsive image">
			</div>
			<div class="col-md-4 col-xl-3">
				<img src="images/poster3.jpg" class="poster-img" alt="Responsive image">
			</div>

			<div class="col-md-4 col-xl-3">
				<img src="images/poster4.jpg" class="poster-img" alt="Responsive image">
			</div>
			<div class="col-md-4 col-xl-3">
				<img src="images/poster5.jpg" class="poster-img" alt="Responsive image">
			</div>
			<div class="col-md-4 col-xl-3">
				<img src="images/poster6.jpg" class="poster-img" alt="Responsive image">
			</div>

			<div class="col-md-4 col-xl-3">
				<img src="images/missing.png" class="poster-img" alt="Responsive image">
			</div>
			<div class="col-md-4 col-xl-3">
				<img src="images/missing.png" class="poster-img" alt="Responsive image">
			</div>
			<div class="col-md-4 col-xl-3">
				<img src="images/missing.png" class="poster-img" alt="Responsive image">
			</div>

			<div class="col-md-4 col-xl-3">
				<img src="images/missing.png" class="poster-img" alt="Responsive image">
			</div>
			<div class="col-md-4 col-xl-3">
				<img src="images/missing.png" class="poster-img" alt="Responsive image">
			</div>
			<div class="col-md-4 col-xl-3">
				<img src="images/missing.png" class="poster-img" alt="Responsive image">
			</div>
		</div>
	</div>
</div>