<div>
	<div class="content">
		<div class="row">
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<div class="categeory-container" data-ng-click="$state.go('main.list')">
					<div>
						<h4>Romantic Comedy</h4>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<div class="categeory-container">
					<div>
						<h4>Drama</h4>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<div class="categeory-container">
					<div>
						<h4>Thriller</h4>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<div class="categeory-container">
					<div>
						<h4>Action</h4>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<div class="categeory-container">
					<div>
						<h4>Romantic</h4>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<div class="categeory-container">
					<div>
						<h4>Comedy</h4>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<div class="categeory-container">
					<div>
						<h4>Adventure</h4>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<div class="categeory-container">
					<div>
						<h4>Animation</h4>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<div class="categeory-container">
					<div>
						<h4>Biography</h4>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<div class="categeory-container">
					<div>
						<h4>War</h4>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<div class="categeory-container">
					<div>
						<h4>History</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>