<div>
	<div class="content">
		<div class="row">
			<!-- Simple hard-coded category list (todo: load from json) -->
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<div class="categeory-container" data-ng-click="$state.go('main.list')">
					<div>
						<h4>Romantic Comedy</h4>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<div class="categeory-container">
					<div>
						<h4>Drama (0)</h4>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<div class="categeory-container">
					<div>
						<h4>Thriller (0)</h4>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<div class="categeory-container">
					<div>
						<h4>Action (0)</h4>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<div class="categeory-container">
					<div>
						<h4>Romantic (0)</h4>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<div class="categeory-container">
					<div>
						<h4>Comedy (0)</h4>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<div class="categeory-container">
					<div>
						<h4>Adventure (0)</h4>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<div class="categeory-container">
					<div>
						<h4>Animation (0)</h4>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<div class="categeory-container">
					<div>
						<h4>Biography (0)</h4>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<div class="categeory-container">
					<div>
						<h4>War</h4>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-2">
				<div class="categeory-container">
					<div>
						<h4>History</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>